*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    max-width: 100%;
}
$bgColor: #C5FBFF;
$deepPurple: #2D0C3E;
$lightBlue: #689CC2;
$mainColor: white;
$gradient:linear-gradient(#AA5188,#451557);
$gridGradient: linear-gradient(to right,#9D2965,#CF3F56);
$registerGradient: linear-gradient(to right, #3B1053, #014C85);
$productName: #B1B1B1;
$box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.15);
$paragraph: 20px;
$border: 1px solid black;
$borderRadius: 25px;
$space: 50px;
@mixin sectionHeading {
    color: $deepPurple;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
@mixin grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}
@mixin button {
    color: $deepPurple;
  padding: 15px;
  border: 2px solid $deepPurple;
  border-radius: $borderRadius;
  text-align: center;
  width: 30%;
  margin: auto;
}

.section1{ 
    background-image: url(/img/Group94.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: contain;
    background-color:$bgColor; 
    display: flex;
    justify-content: space-between;
    #mainNav{
        font-size: $paragraph;
        color:$mainColor;
        line-height: 50px;
        background: $gradient;
        width: 15%;
        .cashback{
            color: $deepPurple;
            background: white;
            width: 100%;
            border-radius: $borderRadius;
        }
        .myProfile{
            margin-top: 250px;
        }
    }
    .registration{
        width: 20%;
        position: relative;
        top: 110px;
        background: white;
        box-shadow: $box-shadow;
        border-radius: $borderRadius;
        text-align: center;
        color: $deepPurple;
        height: 490px;
        h2{
            color: $lightBlue;
        }
        p{
            color: $deepPurple;
            border: 1px solid $lightBlue;
            border-radius: $borderRadius;
            box-shadow: $box-shadow;
            text-align: left;
            padding: 10px;
            margin: 15px;
            font-size: 13px;  
        }
        .register{
            color:$mainColor;
            background-image: $registerGradient;
        }
    }    
}
.section2{
    background-color: $bgColor;
    h1{
        padding-top: $space;
        @include sectionHeading;
    }
    .choose{
        display: flex;
        justify-content: center;
        margin: 100px;
        p{
            font-size: $paragraph;
            margin: 0 40px;
            text-align: center;
        }   
    }
    .cashbackshops{
        #gridContainer{
            width: 70%;
            margin: auto;
            grid-gap: 20px;
            padding-top: $space;
            @include grid;
            margin-left: 20px;
            .shops{
                box-shadow: $box-shadow;
                border-radius: $borderRadius;
                padding: 10px;
                background: white;
                height: 300px;
                width: 264px;
                text-align: center; 
                position: relative;
                font-weight: bold;
                font-size: $paragraph;
                 
                 img{
                   margin: 0;
                   position: absolute;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%, -50%);
                 }   
                .twoPercent{
                 padding: 20px;
                 border-radius: $borderRadius;
                 width: 86%;
                 color: $mainColor;
                 font-size: 15px;
                 position: absolute;
                 bottom: 0px;
                 left: 0px;
                 background: linear-gradient( to right, #451557, #AA5188);
                 em{
                     font-size: $paragraph;
                 }
                }
            }
        }
    }
    .allshops{
    @include button;
    margin-top: $space;
    }
}
.section3{
    h1{
    @include sectionHeading;
    }
    #gridContainerTwo{
        @include grid;
        grid-gap: 40px;
        width: 80%;
         margin: auto;
        padding-top: $space;
        padding-bottom: $space;
        .sale{
         border-radius: $borderRadius;
         box-shadow: $box-shadow;
         .basic{
         width: 100%;
         position: relative;
         bottom: 20px;
         }
          .name{
            color: $productName;
            font-weight: bold;
           }
         .price{
            color: $deepPurple;
            font-weight: 900;
           }
         .inline{
          display: flex;
          justify-content: space-between;
          
          }
         .discussion{
             color: $deepPurple;
             font-size: $paragraph;
           }
         .view{
             border-top-left-radius: $borderRadius;
             border-bottom-right-radius: $borderRadius;
             width: 50%;
             text-align: center;
             font-size: 15px;
             padding: 5px;
             color: $mainColor;
             background-image: $registerGradient;
            }
            .plusMinus{
                background-color: $gridGradient;
                border: $border;

            }

        }
    }
        .allshops{
        @include button;
        margin-bottom: $space;
        width: 20%;
        }
}
.section4{
    border: $border;
  border-radius: $borderRadius;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color:$mainColor;
  margin-bottom: $space;
    .clickhere{
        font-size: $paragraph;
        text-align: center;
        color: $deepPurple;
        margin-top: $space;
        margin-bottom: $space;
    }
    img{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: $space;
      }
}
#mainNav{
    background-color: $deepPurple;
    color: $mainColor;
    #navGrid{
        display: grid;
        grid-template-columns: (6,1fr);
        grid-template-areas: "one two three four five five"
        "six seven eight nine nine"
        "ten . . . eleven eleven";
        .one{
            grid-area: one;
        }
        .two{
            grid-area: two;
        }
        .three{
            grid-area: three;
        }
        .four{
            grid-area: four;
        }
        .five{
            grid-area: five;
        }
        .six{
            grid-area: six;
        }
        .seven{
            grid-area: seven;
        }
        .eight{
            grid-area: eight;
        }
        .nine{
            grid-area: nine;
            li{
              display: flex;
              justify-content: space-between;
            }  
        }
        .ten{
            grid-area: ten;
        }
        .eleven{
            grid-area: eleven;
        }    
    }
}

